* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #ffd;
  font: 30px sans-serif;
}

.shopName{
    font-size: 0.8em;
    background: #dfefff;
    box-shadow: 0px 0px 0px 5px #dfefff;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
}

.shopAdress{
    font-size: 0.5em;
}

.hasGacha{
    font-size: 0.5em;
}
